body {
    font-family: 'forma-djr-text', sans-serif;
    font-size: 16px; /* Absolute */
    line-height: 1.5em; /* Relative */
    color: var(--text-color, rgb(247, 254, 255));
    background-color: var(--primary-color, #041330);
    margin: 0 auto;
    padding-left: 2rem; /* Relative */
    max-width: 80ch; /* Relative */
    text-align: left;
  }

  nav a:hover {
    color: color-mix(in srgb, rgb(85, 178, 225) 40%, rgb(90, 211, 255) 60%);
    font-size: 18px;
  }

  input:active {
    font-size: xx-large;
  }
  