body {
    font-family: 'forma-djr-text', sans-serif;
    font-size: 16px; /* Absolute */
    line-height: 1.5em; /* Relative */
    color: var(--text-color, rgb(184, 228, 236));
    background-color: var(--primary-color, rgb(3, 16, 40));
    margin: 0 auto;
    padding: 2rem; /* Relative */
    max-width: 80ch; /* Relative */
    text-align: left;
  }