body {
    font-family: 'forma-djr-text', sans-serif;
    font-size: 16px; /* Absolute */
    line-height: 1.5em; /* Relative */
    color: var(--text-color, rgb(247, 254, 255));
    background-color: var(--primary-color, #041330);
    margin: 0 auto;
    padding-left: 2rem; /* Relative */
    max-width: 80ch; /* Relative */
    text-align: left;
  }

  nav a:hover {
    color: color-mix(in srgb, rgb(85, 178, 225) 40%, rgb(90, 211, 255) 60%);
    font-size: 18px; /*Absolute */
  }

  input:active {
    font-size: xx-large;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
  }
  
/* Flexbox-related properties */
#agenda, #unfinished, #new, #attendance {
  flex: 1 1 30%;
  border: 1px solid hsl(210, 35%, 65%); /*Absolute */
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

#media{
  padding: 1rem;
  border-style: dashed;
  border-color: greenyellow;
  border-width: 3px; /*Absolute */
  border-radius: 3px; /*Absolute */
  display: inline;
}


.formatted-img {
  width: 100%;              /* Responsive width */
  max-width: 500px;         /* Limits image size */
  min-width: 10px;
  height: auto;
  border-radius: 12px;      /* Rounded corners */
  display: block;           /* Removes inline spacing */
  margin: 1rem auto;        /* Centers image */
}
